{{ urbanterror_start_map }}
{% if urbanterror_maps is defined %}
{% for map in urbanterror_maps %}
{{ map }}
{% endfor %}
{% endif %}
{% if urbanterror_custom_maps is defined %}
{% for k in urbanterror_custom_maps %}
{{ k.name }}
{% endfor %}
{% endif %}
